@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff2a;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e6dddd;
}